<header class="site-header">
  <div id="page-header" class="hfeed site">
    <div class="head-container">
      <div class="container ">
        <div class="sixteen columns">
          <header id="masthead" class="site-header" role="banner">
            <div data-originalstyle="left-pos" class="header-hgroup left-pos">
              <a class="logo-description" href="/" title="Lucian++ Linux" rel="home"><h1 class="site-title">The Onj</h1><h2 class="site-description">Software Consulting</h2></a>
            </div>
            <div data-originalstyle="right-pos" class="menu-wrapper right-pos">
              <nav role="navigation" class="site-navigation main-navigation">
                <div class="menu-sidebar-menu-container"><ul id="menu-sidebar-menu" class="menu"><li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page"><a title="Lucianux" href="/">The Onj</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368"><a title="About Me" href="/about/">About</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"><a href="/resume/">Résumé</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-382"><a title="Blog" href="/blog/">Blog</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-379"><a title="Contact Me" href="/contact/">Contact Me</a></li>
                </ul></div>
              </nav>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</header>
